* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(16, 16, 17, 0.7), rgba(29, 31, 37, 0.7)), url(img/11.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 1% 8%;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: large;
  gap: 20px;
}

nav a img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #CC0101;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links i .fa-solid::before{
  display: none;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 55%;
  color: #fff;
}

.text-box h1 {
  font-size: 30px;
  margin-bottom:30px;
}

nav .fa-solid {
   display: none;
}

@media (max-width: 780px) {
  nav a {
      font-size: small;
  }
  .text-box h1 {
      font-size: 15px;
      padding: 0 20px;
  }
  .text-box p {
      font-size: 10px;
      padding: 0 20px;
  }

  nav {
      padding-top: 10px;
  }
  .nav-links ul li {
      display: block;
  }
  .nav-links {
      position: absolute;
      background: red;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -600px;
      text-align: center;
      z-index: 2;
  }
  nav .fa-solid {
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      text-align: end;
      cursor: pointer;
  }
  nav .fa-solid.fa-bars{
      display: block;
  }
  .nav-links ul {
      padding: 30px;
  }
}

/* ---------------Project---------------- */

#project {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.project-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.project-col img {
  width: 100%;
  border: none;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}



/* * {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  height: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  background-color: rgba(206, 140, 140, 0.473);
  font-size: 20px;
  padding: 0 150px;
  position: sticky;
}

nav a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(252, 7, 7);
  font-size: 25px;
}

.logo img {
  height: 66px;
  width: 66px;
}

.nav-menu {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #CC0101;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-menu li a:hover {
  width: 100%;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}



.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.active {
  font-weight: 400;
  color: #fff ;
}

nav .fa-solid {
  display: none;
}

@media (max-width: 480px) {
  body {
    nav {
      justify-content: space-between;
    }
    .nav-menu{
      display: none;
    }
    nav .fa-solid {
      display: block;
      color: #CC0101;
    }
    .logo img {
      height: 60px;
      width: 60px;
    }

  }
} */
